body {
  margin: 0;
 }
a{
  text-decoration: none;

}

/* for signup form */
.signup-container{
  position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.signup-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("https://images.pexels.com/photos/4246196/pexels-photo-4246196.jpeg?auto=compress&cs=tinysrgb&w=1600") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.signup-contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.signup-left{
	background: url("https://images.pexels.com/photos/4246211/pexels-photo-4246211.jpeg?auto=compress&cs=tinysrgb&w=1600") no-repeat center;
	background-size: cover;
	height: 100%;
}

.signup-right{
	padding: 25px 40px;
}

.signup-right h1{
  position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.signup-right h1:after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #ff7575;
}

.signup-field{
  width: 100%;
	border: 2px solid rgba(255, 125, 125, 0);
	outline: none;
	background-color: rgba(195, 192, 192, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
  margin-right: 22px;
	transition: .3s;
  color: rgb(12, 12, 12);
}

.signup-field:hover{
  background-color: rgba(143, 141, 141, 0.1);
}

.signup-btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #ff7575;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.signup-btn:hover{
  background-color: #fd4a4a;
}

.signup-field:focus{
  border: 2px solid #ff7575;
  background-color: #fff;
}

@media screen and (max-width: 880px){
	.signup-contact-box{
		grid-template-columns: 1fr;
	}
	.signup-left{
		height: 200px;
	}
}

